# secrets
.env

# git
.git
.gitignore

# local python environment
.venv
__pycache__
*.pyc

# local python version
.python-version

# documentation
README.md
docs/

# docker build files
Dockerfile
.dockerignore

# infrastructure
infrastructure/
